@{
    if (ViewData.TryGetValue("ParentLayout", out var parentLayout))
    {
        Layout = (string)parentLayout;
    }
    else
    {
        Layout = "/Views/Shared/_Layout.cshtml";
    }
}
<head>
    <meta name="robots" content="noindex">
</head>

@section SettingSidenav{
    <partial name="_ManageNav" />
}

    <div>
        <div id="renderBody" class="mt-3 mx-5">
            @RenderBody()
        </div>
    </div>

    @section Scripts {
    @RenderSection("Scripts", required: false)
}