@model KUSYS_Demo.Models.UpdateUserViewModel

@{
    ViewData["Title"] = "UpdateUser";
    Layout = "~/Views/User/_UserLayout.cshtml";
}

<h1>Kullanıcı Bilgilerini Düzenle</h1>

<h4>Değiştirilen bilgiler geri getirilemez.</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <input asp-for="UserId" class="form-control" hidden />
                <span asp-validation-for="UserId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label"></label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group mb-2">
                <label asp-for="LastName" class="control-label"></label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input asp-action="ChangeProfileSettings" asp-controller="User" type="submit" value="Kaydet" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="row">

    <!-- Back Button -->
    <div>
        <a asp-controller="Home" asp-action="Index">Ana ekrana geri dön</a>
    </div>
</div>


