@page
@model ConfirmEmailModel
@{
	ViewData["Title"] = "E-posta doğrulama";
}


<div class="d-flex flex-column justify-content-center align-items-center text-center my-4 py-4 height-full px-3 main-head">

	<h1 data-mdb-toggle="animation"
		data-mdb-animation="fade-in-left"
		data-mdb-animation-start="onLoad">
		@ViewData["Title"]
	</h1>

	<lord-icon id="success_animation"
			   src="https://cdn.lordicon.com/ivayzoru.json"
			   trigger="loop"
			   colors="outline:#660099,primary:#660099,secondary:#16c72e"
			   style="width:250px;height:250px">
	</lord-icon>

	<a id="login_button" class="btn btn-rounded main-button" data-mdb-ripple-color="#ffffff" asp-area="Identity" asp-page="/Account/Login">
		<div class="d-flex align-items-center justify-content-center login-button-inside">
			<span>Giriş Yap</span>
		</div>
	</a>

	<div data-mdb-toggle="animation"
		 data-mdb-animation="fade-in"
		 data-mdb-animation-start="onLoad"
		 data-mdb-animation-delay=500>
		<partial name="_StatusMessage" model="Model.StatusMessage" />
	</div>

</div>


<script>
	var success = document.getElementById("success_animation");
	var login = document.getElementById("login_button");
	setTimeout(
	function() {
	  success.style.display='none';
	  login.style.display='block';
	}, 2000);
</script>