@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Şifremi Unuttum";
}
<div class="d-flex align-items-center justify-content-center height-full">
    <form method="post">
        <!-- Section: Design Block -->
        <section class="text-center text-lg-start pt-5">

            <div class="card m-5">
                <div class="row g-0 d-flex justify-content-center">
                    <div class="col-6 d-lg-flex mt-lg-0 mt-5"
                         data-mdb-toggle="animation"
                         data-mdb-animation="fade-in"
                         data-mdb-animation-start="onLoad"
                         data-mdb-animation-duration=3000>
                        <img src="~/img/email.webp"
                             alt="Trendy Pants and Shoes"
                             class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
                    </div>
                    <div class="col-lg-6 col-12 mt-lg-0 mt-5 align-self-center"
                         data-mdb-toggle="animation"
                         data-mdb-animation="fade-in-right"
                         data-mdb-animation-start="onLoad"
                         data-mdb-animation-delay=500>
                        <div class="card-body">
                            <h1 class="fw-bold">
                                @ViewData["Title"]
                                <br />
                            </h1>
                            <span class="text-success">Şifrenizi tekrar oluşturun.</span>
                            <p class="text-muted mb-5">
                                Eğer şifrenizi kaybettiyseniz kaytılı e-mail adresiniz ile şifrenizi tekrar belirleyebilirsiniz.
                            </p>
                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                            <div class="d-md-flex flex-row">
                                <div class="form-outline flex-fill me-1 mb-4 mb-md-0">
                                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                                    <label asp-for="Input.Email" class="form-label"></label>
                                </div>
                                <!-- Submit button -->
                                <button type="submit" class="btn btn-lg ms-md-2 main-button">Şifremi sıfırla</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- Section: Design Block -->
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
