@page
@model LockoutModel
@{
    ViewData["Title"] = "Hesap Kitlendi";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Birden fazla hatalı giriş yapıldığı için hesabınız bir süreliğine kitlendi. Desteğe başvurun veya bir süre sonra tekrar deneyin.</p><br />

</header>
