@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Şifreniz yenilendi";
}

<div class="d-flex flex-column justify-content-center align-items-center text-center my-4 py-4 height-full px-3 main-head">
    <h1>@ViewData["Title"]</h1>
    <lord-icon src="https://cdn.lordicon.com/ivayzoru.json"
               trigger="loop"
               colors="outline:#660099,primary:#660099,secondary:#16c72e"
               style="width:250px;height:250px">
    </lord-icon>
    <p class="p-2 alert-success rounded-pill">
        Şifreniz başarıyla yenilendi. Lütfen buraya tıklayarak <a class="btn btn-sm btn-rounded main-button" asp-page="./Login">giriş yapın</a>.
    </p>
</div>

